:root {
  --logo-button-blue-color: #4d5ae5;
  --hero-color-navy: #2e2f42;
  --content-color: #434455;
  --focus-hover-color: #404bbf;
  --light-color: #ffffff;
  --white-color: #f4f4f4fd;
  --nu-color: #F4F4FD;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--content-color);
  background-color: var(--light-color);
}

img {
  display: block;
}

/*LOGO*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-button-blue-color);
  margin-right: 76px;

}

.logo-studio-dark {
  color: var(--hero-color-navy);
}

.logo-studio-white {
  color: var(--nu-color);
  gap: 40px;
}

.navigation-list {
  display: flex;
  gap: 40px
}


.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.link {
  text-decoration: none;
  list-style: none;
}

.buton {
  cursor: pointer;
  font-family: var(--hero-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-button-blue-color);
  background-color: var(--nu-color);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.buton:hover {
  color: var(--light-color);
  background-color: var(--focus-hover-color);
  border: 1px solid transparent;
}

.buton:focus {
  color: var(--light-color);
  background-color: var(--focus-hover-color);
  border: 1px solid transparent;
}

.adress-section {
  font-style: normal;
  display: flex;
}

.contacts {
  color: var(--content-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}


.hidden-title {
  visibility: hidden;
}

.contacts:hover {
  color: var(--focus-hover-color);
}

.contacts:focus {
  color: var(--focus-hover-color);
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-color-navy);
  padding: 24px 0;
}


.list-links:hover {
  color: var(--focus-hover-color);
}


.list-links:focus {
  color: var(--focus-hover-color);
}

/* header-section */
.header-section {
  border-bottom: 1px solid #e7e9fc;
}

.section-content {}


/*Title Section*/
.section {
  background-color: var(--hero-color-navy);
  padding: 188px 0;

}

.header-content {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-color);
  max-width: 496px;
  margin: 0 auto;
}

.order-button {
  background-color: var(--logo-button-blue-color);
  font-family: var(--hero-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-color);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--logo-button-blue-color);
  border-radius: 4px;
  margin: 0 auto;
}

.order-button:hover {
  background-color: var(--focus-hover-color);
}

.order-button:focus {
  background-color: var(--focus-hover-color);
}

/*Description section*/

.section-description {
  padding: 120px 0;
}

.section-description-content {}

.description-list {
  display: flex;
  gap: 24px;
}

.description-content {
  width: calc((100% - 72px) / 4);
}


.not-visible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.section-description-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-color-navy);
  margin-bottom: 8px;
}

.section-description-pharagraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--content-color);
}



/*What we do section*/

.what-we-do-section {
  padding-bottom: 120px;
}

.what-we-do-content {}

.section-we-do-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-color-navy);
  margin-bottom: 72px;
}

.section-list {
  display: flex;
  gap: 24px;
}

.list-element {
  width: calc((100% - 48px) / 3);
}

/*Our Team section*/
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-color-navy);
  margin-bottom: 72px;
}

.our-team-section {
  background-color: var(--nu-color);
  padding: 120px 0;
}

.our-team-list {
  display: flex;
  gap: 24px;

}

.out-team-subtitle {
  letter-spacing: 0.4px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  background-color: var(--light-color);
  text-align: center;
  margin-bottom: 8px;
}

.our-team-pharagraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--content-color);
  text-align: center;

}

.list-content {
  background-color: var(--light-color);
  width: calc((100%-72px)/4);
  border-radius: 0px 0px 4px 4px;
}

.out-team-member {
  padding: 32px 0;
}

.list-title {
  background-color: var(--light-color);
}

/* footer section */

.footer-section {
  background-color: var(--hero-color-navy);
  font-weight: 800px;
  font-size: 18px;
  line-height: 1.17px;
  padding: 100px 0
}

.footer-content {}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footehiddenr-section {
  background-color: var(--hero-color-navy);
  font-weight: 800px;
  font-size: 18px;
  line-height: 1.17px;
  padding: 100px 0;
}

.footer-paragraf {
  color: var(--nu-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.nav-section-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.content-section-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px
}

.content-section-list-element {
  width: calc((100% - 48px) / 3);
}

.content-section-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

}


.content-section-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-color-navy);
  margin-bottom: 8px;
}


.content-section-pharagraph {
  color: var(--content-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}