:root {
  --logo-button-blue-color: #4d5ae5;
  --hero-color-navy: #2e2f42;
  --content-color: #434455;
  --focus-hover-color: #404bbf;
  --light-color: #ffffff;
  --white-color: #f4f4f4fd;
  --nu-color: #F4F4FD;
  --icons-color: #8E8F99;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--content-color);
  background-color: var(--light-color);
}

img {
  display: block;
}

/*LOGO*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-button-blue-color);
  margin-right: 76px;

}

.logo-studio-dark {
  color: var(--hero-color-navy);
}

.logo-studio-white {
  color: var(--nu-color);
  gap: 40px;
}

.navigation-list {
  display: flex;
  gap: 40px
}


.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.link {
  text-decoration: none;
  list-style: none;
  display: block;
}

.buton {
  cursor: pointer;
  font-family: var(--hero-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-button-blue-color);
  background-color: var(--nu-color);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.buton:hover {
  color: var(--light-color);
  background-color: var(--focus-hover-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buton:focus {
  color: var(--light-color);
  background-color: var(--focus-hover-color);
  border: 1px solid transparent;
  box-shadow: cu valorile 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.adress-section {
  font-style: normal;
  display: flex;
}

.contacts {
  color: var(--content-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}


.hidden-title {
  visibility: hidden;
}

.contacts:hover {
  color: var(--focus-hover-color);
}

.contacts:focus {
  color: var(--focus-hover-color);
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-color-navy);
  padding: 24px 0;
}


.list-links:hover {
  color: var(--focus-hover-color);

}


.list-links:focus {
  color: var(--focus-hover-color);
}

/* header-section */
.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)
}

.dada {
  border-radius: 4px;
  border: 1px solid, color var(--icons-color);
}

/*Title Section*/

.section {
  background-color: var(--hero-color-navy);
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Hero-picture-backgroung.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;

}

.header-content {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-color);
  max-width: 496px;
  margin: 0 auto;
}

.order-button {
  background-color: var(--logo-button-blue-color);
  font-family: var(--hero-font);
  font-weight: 500;
  font-size: 16px;
  section line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-color);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--logo-button-blue-color);
  border-radius: 4px;
  margin: 0 auto;
}

.order-button:hover {
  background-color: var(--focus-hover-color);
}

.order-button:focus {
  background-color: var(--focus-hover-color);
}

/* Icons Section */

.icons-section {
  display: flex;
  justify-content: center;
  justify-content: space-between;

}

.icon-element {
  width: 64px;
  height: 64;
}

.container-element {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nu-color);
  height: 112px;
  width: 264px;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 2px solid var(--nu-color);
}






/* Description section */



.section-description {
  padding: 0 0 120px 0;
}

.section-description-content {}

.description-list {
  display: flex;
  gap: 24px;
  margin-top: 0;
  padding-top: 8px;
}

.description-content {
  width: calc((100% - 72px) / 4);
}


.not-visible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.section-description-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-color-navy);
  margin: 0 0 8px 0;
}

.section-description-pharagraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--content-color);
}



/*What we do section*/

.what-we-do-section {
  padding-bottom: 120px;
}


.section-we-do-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-color-navy);
  margin-bottom: 72px;
}

.section-list {
  display: flex;
  gap: 24px;
}

.list-element {
  width: calc((100% - 48px) / 3);
}

/*Our Team section*/
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-color-navy);
  margin-bottom: 72px;
}

.our-team-section {
  background-color: var(--nu-color);
  padding: 120px 0;
}

.our-team-list {
  display: flex;
  gap: 24px;

}

.out-team-subtitle {
  letter-spacing: 0.4px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  background-color: var(--light-color);
  text-align: center;
  margin-bottom: 8px;
}

.our-team-pharagraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--content-color);
  text-align: center;

}

.list-content {
  background-color: var(--light-color);
  width: calc((100%-72px)/4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;

}

.out-team-member {
  padding: 32px 0 0 0;
}

.list-title {
  background-color: var(--light-color);
}

/* Contacts Section */
.customers-section {
  display: flex;
  flex-direction: column;
  margin: 120px 156px;
}

.customers-list {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  height: 88px;
}

.customers-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.customers-element {
  width: calc((100%-120px)/6) width: 188px;


}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icons-color);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--focus-hover-color);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--focus-hover-color);
}

.customers-icon {
  fill: var(--logo-button-blue-color);
}





/* footer section */

.footer-section {
  background-color: var(--hero-color-navy);
  font-size: 18px;
  line-height: 1.17px;
  display: flex;
  padding: 101px 692px 100px 156px;
}

.footer-content {
  margin-right: 120px;
}



.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footehiddenr-section {
  background-color: var(--hero-color-navy);
  /* font-weight: 800px; */
  font-size: 18px;
  line-height: 1.17px;
  padding: 100px 0;
}

.footer-paragraf {
  color: var(--nu-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/* Social Media Footer */
.social-media {
  padding-bottom: 32px;
}

.social-media-pharagraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  margin-bottom: 16px
}

.social-media-list {
  list-style: none;
  display: flex;
  gap: 16px;
}

.social-media-element {
  width: 40px;
  height: 40px;
  /* width: 100%;
  height: 100%; */
  background-color: var(--logo-button-blue-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  align-items: center;
}

.social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-button-blue-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--focus-hover-color);
}

.social-media-logo {
  fill: var(--nu-color);
  width: 16px;
  height: 16px;
}

.social-media-logo:hover,
.social-media-logo:focus {
  background-color: #31d0aa;
}

.social-media-logo-footer {
  fill: var(--nu-color);
  width: 24px;
  height: 24px;
}

.social-media-logo-footer:hover,
.social-media-logo-footer:focus {
  background-color: #31d0aa;
}



.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.nav-section-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}


.content-section-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px
}

.content-section-list-element {
  width: calc((100% - 48px) / 3);
}

.content-section-list-element:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}



.content-section-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

}


.content-section-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-color-navy);
  margin-bottom: 8px;
}


.content-section-pharagraph {
  color: var(--content-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}